Repository balena-os/balena-supervisor: changes, and which lint-staged commands are due for each by the changed paths.
All: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.2.2
  CHANGELOG.md
  package.json
Due: none

Update to typescript 3
  package.json
  src/logger.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.2.3
  CHANGELOG.md
  package.json
Due: none

Remove versionist from package.json, it's handled by versionbot
  package.json
Due: none

Remove some type casts
  src/compose/utils.ts
  src/config/backend.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

fix: Also lint typescript declaration files
  .lintstagedrc
Due: none

v8.2.4
  CHANGELOG.md
  package.json
Due: none

fix: Correctly type bluebird promises in application-manager typings
  src/application-manager.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

fix: Fix typo in image cleanup code
  src/compose/images.coffee
Due: resin-lint

device-api: Also support serviceName in v2 service endpoints
  src/device-api/v2.ts
  src/lib/messages.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.3.0
  CHANGELOG.md
  package.json
Due: none

Fix migrations/jsonstream custom resolvers on windows
  webpack.config.js
Due: none

v8.3.1
  CHANGELOG.md
  package.json
Due: none

Remove node garbage collection flags
  entry.sh
Due: none

ci: Turn off db journaling on CI
  src/db.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.3.2
  CHANGELOG.md
  package.json
Due: none

fix: Rework code to avoid prettier errors
  src/compose/types/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Remove ts-node from test process
  package.json
  test/mocha.opts
Due: none

v8.3.3
  CHANGELOG.md
  package.json
Due: none

Remove unused dependencies
  package.json
Due: none

v8.3.4
  CHANGELOG.md
  package.json
Due: none

doc: Add documentation for supervisor endpoints added after v7
  docs/API.md
Due: none

v8.3.5
  CHANGELOG.md
  package.json
Due: none

tests: Increase timeout for test suites
  test/05-device-state.spec.coffee
  test/11-api-binder.spec.coffee
  test/13-device-config.spec.coffee
  test/14-application-manager.spec.coffee
  test/mocha.opts
Due: resin-lint

v8.3.6
  CHANGELOG.md
  package.json
Due: none

Update coffee-script to coffee-script 1.12
  package.json
Due: none

v8.3.7
  CHANGELOG.md
  package.json
Due: none

Let typescript do the json resolution so we get proper types
  src/lib/supervisor-version.ts
  tsconfig.json
  typings/typings.d.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

v8.3.8
  CHANGELOG.md
  package.json
Due: none

Fix ServiceConfig/ServiceConfigArrayField typings
  src/compose/service.ts
  src/compose/types/service.ts
Due: prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Appended API example
  docs/API.md
Due: none

Fix typo in documentation
  docs/API.md
Due: none

Temporarily pin dockerode types to fix build issue
  package.json
Due: none

v8.3.9
  CHANGELOG.md
  package.json
Due: none

Fix m00001 migration by using targetValues
  src/migrations/M00000.js
Due: none

events: Correctly proxy mixpanel events
  package.json
  src/config/functions.ts
  src/event-tracker.ts
  test/09-event-tracker.spec.coffee
Due: resin-lint, prettier --config ./node_modules/resin-lint/config/.prettierrc --write, resin-lint --typescript --no-prettier

Path conditions:
  resin-lint: any of: *.coffee
  prettier --config ./node_modules/resin-lint/config/.prettierrc --write: any of: *.ts
  resin-lint --typescript --no-prettier: any of: *.ts
